<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="01D9D1A2-D311-4932-9856-438608315C61" Name="Squid" Language="1033" Version="3.5.14" Manufacturer="Squid Project" UpgradeCode="103139C5-4C94-471D-94D6-D838BB7E6CB9">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="Installer for Squid from Diladele B.V."/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <!-- Squid cmd shortcut -->
    <Property Id="CMD_PATH">
      <DirectorySearch Path="[WindowsFolder]System32" Depth="0" Id="WinSystem32Path" AssignToProperty="no">
        <FileSearch Name="cmd.exe" Id="cmdFileSearch" />
      </DirectorySearch>
    </Property>

    <!-- licenses and themes -->
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />

    <!-- add/remove icon -->
    <Icon Id="AddRemoveIcon" SourceFile="SquidIcon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="AddRemoveIcon" />

    <!-- Prepare to start the tray application as custom action -->
    <Property Id="WixShellExecTarget" Value="[#tray6FAE4CBABF7D43429B28E0B5977FD050]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <!-- Installing certificates -->
    <CustomAction Id="RemoveSsldbDirectoryPrepare" Property="RemoveSsldbDirectory"
            Value="&quot;cmd.exe&quot; /c rmdir /S /Q &quot;[cache]squid_ssldb&quot;&quot;" Execute="immediate"/>
    <CustomAction Id="RemoveSsldbDirectory" BinaryKey="WixCA" DllEntry="CAQuietExec"
                Execute="deferred" Return="ignore" Impersonate="no"/>

    <CustomAction Id="RunSslCrtdPrepare" Property="RunSslCrtd"
            Value="&quot;[squid_1]ssl_crtd.exe&quot; -c -s &quot;[cache]squid_ssldb&quot;" Execute="immediate"/>

    <CustomAction Id="RunSslCrtd" BinaryKey="WixCA" DllEntry="CAQuietExec"
                Execute="deferred" Return="check" Impersonate="no"/>

    <InstallExecuteSequence>
      <Custom Action="RemoveSsldbDirectoryPrepare" After="CostFinalize"/>
      <Custom Action="RunSslCrtdPrepare" After="CostFinalize"/>
      <Custom Action="RemoveSsldbDirectory" Before="RunSslCrtd"/>
      <Custom Action="RunSslCrtd" Before="InstallFinalize">NOT Installed AND NOT REMOVE</Custom>
    </InstallExecuteSequence>
     
    <UI>
      <UIRef Id="WixUI_InstallDir"/>
      
      <!-- Start tray application -->
      <Publish Dialog="ExitDialog"
             Control="Finish"
             Event="DoAction"
             Value="LaunchApplication">
        NOT Installed
      </Publish>
    </UI>

    <util:CloseApplication Id="CloseTrayApp" Target="Diladele.Squid.Tray.exe" CloseMessage="yes" ElevatedCloseMessage="yes" RebootPrompt="no">
    </util:CloseApplication>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>

    <PropertyRef Id="NETFRAMEWORK35" />
    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <PropertyRef Id="NETFRAMEWORK45" />

    <Condition Message="The product requires administrator priviledge.">
      <![CDATA[Installed OR Privileged]]>
    </Condition>

    <Condition Message="The product requires at least Microsoft .NET 3.5 to be installed on the machine.">
      <![CDATA[Installed OR NETFRAMEWORK35 OR NETFRAMEWORK40FULL OR NETFRAMEWORK45]]>
    </Condition>

    <Condition Message="The product requires the operating system to be 64 bit.">
      <![CDATA[Installed OR VersionNT64]]>
    </Condition>

    <Condition Message="The product requires at least Windows Vista or Server 2008.">
      <![CDATA[Installed OR VersionNT64 >= 600]]>
    </Condition>

    <Feature Id="SquidFeature" Title="Squid" Description="Installs Squid server." Level="1">
      <ComponentGroupRef Id="SquidFilesGroup" />
      <ComponentGroupRef Id="SquidRegistry" />
      <ComponentGroupRef Id="SquidService" />
      <ComponentGroupRef Id="SquidTray" />
      <ComponentGroupRef Id="SquidFirewall" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id="INSTALLFOLDER" Name="Squid" />
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>
  </Fragment>
</Wix>