<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="SquidTray">
      <Component Id="cmpD058CD70843C402E81E16A44DC8ADD6C" Directory="dir68440401A834E7238BDC906147476ED2" Guid="D058CD70-843C-402E-81E1-6A44DC8ADD6C">
        <File Id="tray6FAE4CBABF7D43429B28E0B5977FD050" KeyPath="yes" Source="$(var.SquidDir)\diladele\Diladele.Squid.Tray.exe" />
      </Component>
      <Component Id="cmp7C909DD25801476AA0043B1EF8A1FEEC" Directory="dir68440401A834E7238BDC906147476ED2" Guid="7C909DD2-5801-476A-A004-3B1EF8A1FEEC">
        <File Id="file83801F6DC7B0450B8ABEE271ECC45C21" KeyPath="yes" Source="$(var.SquidDir)\diladele\Diladele.Squid.Tray.exe.config" />
      </Component>
      <Component Id="cmpB61CF3C4401347F297C359A4E66A8AB4" Directory="dir68440401A834E7238BDC906147476ED2" Guid="B61CF3C4-4013-47F2-97C3-59A4E66A8AB4">
        <File Id="file8F13C4A2ED374B38BBF931774E05A6B9" KeyPath="yes" Source="$(var.SquidDir)\diladele\Diladele.Squid.Tray.pdb" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>